<h1>Hey</h1>

<form
    [formGroup]='form'>

  <div
      formArrayName='favorites'>
    <h3>Favorite Teams</h3>
  
    <div
        [formGroup]='favorite'
        *ngFor='let favorite of form.get("favorites").controls'>

      <label>
        Sport:
        <ng-select
            bindLabel='displayName'
            bindValue='name'
            [clearable]='false'
            formControlName='sport'
            [items]='favorite.get("sportChoices").value'>
        </ng-select>
      </label>
      <label>
        Team:
        <ng-select
            [clearable]='false'
            formControlName='team'
            [items]='favorite.get("teamChoices").value'>
        </ng-select>
      </label>
    </div>

  </div>

</form>